{% extends "publiclayout.html" %}

{% block title %}
<h1>Kirjaudu</h1>
<b><a href="/">Takaisin</a></b>
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
  <div class="personal_stuff">
    <form action="/login" method="POST">
        <label for="name">Käyttäjänimi:</label><br>
        <input type="text" id="name" name="accname" value=""><br>
        <label for="pass">Salasana:</label><br>
        <input type="password" id="pass" name="passwrd" value=""><br><br>
        <input type="submit" value="Kirjaudu">
        <br>
        <a href="/newaccount">Tee uusi käyttäjä</a>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
  </div>
{% endblock %}