{% extends "publiclayout.html" %}

{% block title %}
<h1>{{friend}}:</h1>
{% endblock %}

{% block search %}
<h3>Hakutyökalu:</h3>palauttaa viestit jotka sisältää hakusanan
<form action="/friendlist/dm/search" method="GET">
    <input type="text" name="query">
    <input type="submit" value="Hae">
    <input type="hidden" value="{{friend}}" name="friend1">
</form>
{% endblock %}

{% block new %}{% endblock %}

{% block content %}
<ul>
{%for message in messages%}
<section>
<p style="border:2px solid gray;" width="100" margin="20px">
<br>
{{message[3]}}
<br>-------------------------------------------------------<br>
Kirjoittaja: {{message[1]}}
{% if session.username == message.writer %}
    <form action="/friendlist/dm/msg-delete{{message.id}}" method="POST">
        <input type="submit" value="Poista viesti">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
{% endif %}
<br>
</p></section>
{%endfor%}
</ul>
{% if session.username %}
    <section id="message"><button onclick=newmessage()>Lisää viesti</button></section>
{% endif %}
<script>
    function newmessage() {
        document.getElementById("message").innerHTML = "<h4>Uusi viesti</h4><button onclick=goback()>Peru</button><form action='/friendlist/dm/newmessage' method='POST'><br><label for='body'>Viesti:</label><br><input type='text' id='body' name='bodyfield' value='' width='200px' height='200px'><br><br><input type='submit' value='Julkaise'><br><input type='hidden' name='csrf_token' value='{{session.csrf_token}}'><input type='hidden' name='friend2' value='{{friend}}'></form>"
    }
</script>
<script>
    function goback() {
        document.getElementById("message").innerHTML = "<button onclick=newmessage()>Lisää viesti</button>"
    }
</script>
{% endblock %}