{% extends "publiclayout.html" %}

{% block title %}
<span>/area{{ids[0]}}/discussion{{ids[1]}}</span>
<b><a href="/area/{{ids[0]}}">Takaisin</a></b>
<h1>{{current_discussion.names}}:</h1>
{% endblock %}

{% block search %}
<h3>Hakutyökalu:</h3>palauttaa viestit jotka sisältää hakusanan
<form action="/area/{{ids[0]}}/discussion/{{ids[1]}}/search" method="GET">
    <input type="text" name="query">
    <input type="submit" value="Hae">
</form>
{% endblock %}

{% block new %}
{% if error %}
  <h2 style="color:red">{{error_msg}}</h2>
{% endif %}
{% if session.username %}
    <section id="message"><button onclick=newmessage()>Lisää viesti</button></section>
{% endif %}
<script>
    function newmessage() {
        document.getElementById("message").innerHTML = "<p style='border:2px solid gray;' width='100' margin='20px'><h4>Uusi viesti</h4><button onclick=goback()>Peru</button><form action='/area/{{ids[0]}}/discussion/{{ids[1]}}/newmessage' method='POST'><br><label for='body'>Viesti:</label><br><input type='text' id='body' name='bodyfield' value='' width='200px' height='200px'><br><br><input type='submit' value='Julkaise'><br><input type='hidden' name='csrf_token' value='{{session.csrf_token}}'></form></p>"
    }
</script>
<script>
    function goback() {
        document.getElementById("message").innerHTML = "<button onclick=newmessage()>Lisää viesti</button>"
    }
</script>
{% endblock %}

{% block content %}
<ul>
{%for message in messages%}
<p style="border:2px solid gray;" width="100" margin="20px">
    <br>
    {{message[3]}}
    <hr>
    Kirjoittaja: {{message[1]}}
    {% if session.username == message.writer or is_admin %}
        <form action="/area/{{ids[0]}}/discussion/{{ids[1]}}/msg-delete/{{message.id}}" method="POST">
            <input type="submit" value="Poista viesti">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    {% endif %}
    <br>
</p>
{%endfor%}
</ul>
{% endblock %}