{% extends "publiclayout.html" %}

{% block title %}
<h1>Käyttäjä: {{session.username}}</h1>
<h2>Kaverilista:</h2>
{% if request %}
  <script>alert({req_msg})</script>
{% endif %}
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
<p><a href="/friendlist/send">Lähetä ystäväpyyntö</a></p>
<p><a href="/friendlist/received">Saapuneet ystäväpyynnot</a></p>
<p><b>Kaverit:</b></p>
{%for friend in friends%}
<br>
{{friend[0]}} 
<form action="/friendlist/dm" method="POST">
<input type="submit" value="Viestit">
<input type="hidden" name="username" value="{{friend[0]}}">
</form>
<form action="/friendlist/reject" method="POST">
<input type="submit" value="Poista kavereista">
<input type="hidden" name="username" value="{{friend[0]}}">
<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<br>
{%endfor%}
{% endblock %}