{% extends "publiclayout.html" %}

{% block title %}
<h1>Käyttäjä: {{session.username}}</h1>
<br>
<h2>Lisää kaveriksi käyttäjänimen mukaan</h2>
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
  <div class="personal_stuff">
    <form action="/friendlist/send/confirm" method="POST">
        <label for="name">Käyttäjänimi:</label><br>
        <input type="text" id="name" name="friend" value=""><br>
        <input type="submit" value="Lähetä">
        <br>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
  </div>
{% endblock %}