{% extends "publiclayout.html" %}

{% block title %}
<h1>Kotisivu:</h1>
{% endblock %} 

{% block search %}
<h3>Hakutyökalu:</h3><span>palauttaa keskustelut jotka sisältää hakusanan</span>
<form action="/search" method="GET">
    <input type="text" name="query">
    <input type="submit" value="Hae">
</form>
{% endblock %}

{% block new %}{% endblock %}

{% block content %}
Tämä on keskustelusovellus. Vasemmalta laidasta löytyy ylläpitäjien hallitsemia keskustelualueita, missä kaikki käyttäjät voivat aloittaa uusia 
keskusteluketjuja ja lisätä niihin viestejä, mikä vaatii kyllä kirjautumista/käyttäjän luomista vasemmasta yläkulmasta. Kirjautumalla sisään voit myös 
käyttäjäkohtaisilta sivuilta lisätä muita käyttäjiä kaveriksi ja lähettää ainoastaan heille kuuluvia viestejä.
{% endblock %}