{% extends "publiclayout.html" %}

{% block title %}
<h1>Keskustelualueet:</h1>
{% endblock %} 

{% block search %}
<h3>Hakutyökalu:</h3><span>palauttaa keskustelut jotka sisältää hakusanan</span>
<form action="/search" method="GET">
    <input type="text" name="query">
    <input type="submit" value="Hae">
</form>
{% endblock %}

{% block new %}
{% if is_admin %}
    <a href="/newarea">Avaa uusi keskustelualue</a>
{% endif %}
{% endblock %}

{% block content %}
<ul>
{%for area in areas%}
<section>
<p style="border:2px solid gray;" width="100" margin="20px">
    <br>
    <b>{{area.names}}</b><br>
    <br>
    <button onclick="document.location='/area/{{area.id}}'">Liity alueelle</button>
    {% if is_admin %}
        <form action="/area/{{area.id}}/delete" method="POST">
            <input type="submit" value="Poista alue">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    {% endif %}
    <br>
</p>
</section>
{%endfor%}
</ul>
{% endblock %}