{% extends "publiclayout.html" %}

{% block title %}
<b><a href="/area/{{ids[0]}}/discussion/{{ids[1]}}">Takaisin</a></b>
<h1>Viestit haulla "{{query}}":</h1>
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
<ul>
{%for message in messages%}
    <section>
    <p style="border:2px solid gray;" width="100" margin="20px">
    <br>
    {{message.content}}
    <br>-------------------------------------------------------<br>
    {{message.writer}}
    {% if session.username == message.writer %}
        <form action="/area/{{ids[0]}}/discussion/{{ids[1]}}/msg-delete{{message.id}}" method="POST">
            <input type="submit" value="Poista viesti">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    {% endif %}
{% endfor %}
<br>
</p></section>
{% endblock %}