{% extends "publiclayout.html" %}

{% block title %}
<h1>Uusi Keskustelualue</h1>
<a href="/">Takaisin</a>
{% if error %}
  <h2 style="color:red">{{error_msg}}</h2>
{% endif %}
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
<form action="/newarea/confirm" method="POST">
    <label for="name">Alueen nimi:</label><br>
    <input type="text" id="name" name="title" value=""><br>
    <input type="submit" value="Julkaise">
    <br>
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
{% endblock %}