{% extends "publiclayout.html" %}

{% block title %}
  <h1>Uusi Keskustelu</h1>
{% endblock %}

{% block search %}{% endblock %}

{% block new %}
  <div>
    <form action="/area/{{area}}/creatediscussion" method="POST">
        <label for="name">Otsikko:</label><br>
        <input type="text" id="name" name="title" value=""><br>
        <label for="body">Ensimmäinen viesti:</label><br>
        <input type="textarea" id="body" name="body" value="" rows="10" cols="50">
        <br>
        <input type="submit" value="Julkaise">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
  </div>
{% endblock %}

{% block content %}{% endblock %}