{% extends "publiclayout.html" %}

{% block title %}
<h1>Käyttäjä: {{session.username}}</h1>
<h1>Aloittamat keskustelut:</h1>
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
    <div class="personal_stuff">
        {%for discussion in discussions%}
            <p style="border:2px solid gray;" width="100" margin="20px">
                <b>{{discussion.names}}</b><br>
                <br>
                <button onclick="document.location='/get-to/discussion/{{discussion.id}}'">Keskusteluun</button>
            </p>
        {%endfor%}
    </div>
{% endblock %}