<html style="background-color: whitesmoke;">
    <head>
        <!DOCTYPE html>
        <title>Generaali foorumi nro 428</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/main.css" type="text/css" media="screen">
    </head>

    <body>
        <div id="sidebar">
            <div id="newarea">
                Keskustelualueet:
                {% if is_admin %}
                    <a href="/newarea" class="side_button">Avaa uusi keskustelualue</a>
                {% endif %}
                <hr>
            </div>
            <ul>
                {%for area in areas%}
                    <a href="/area/{{area.id}}" class="side_button">{{area.names}}</a>

                    {% if is_admin %}
                        <form action="/area/{{area.id}}/delete" method="POST">
                            <input type="submit" value="Poista alue">
                            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                        </form>
                    {% endif %}
                {%endfor%}
            </ul>
        </div>
        
        <div id="center">
            <div id="title_block">
                <div id="title">
                    <a href="/" class="button" id="home_button">Kotisivulle</a>
                    <span id="title_text">{% block title %}{% endblock %}</span>
                </div>

                <div id="user">
                    <div id="login_block">
                            {% if session.username %}
                                <a href="/personal" class="button">Käyttäjä</a>
                                <a href="/logout" class="button">Kirjaudu ulos</a>
                                <br>
                            {% endif %}
                            <form action="/login" method="POST" id="user_login">
                                <label for="name">Käyttäjänimi:</label>
                                <input type="text" id="name" name="accname" value="">
                                <label for="pass">Salasana:</label>
                                <input type="password" id="pass" name="passwrd" value="">
                                <br>
                                <input type="submit" name="submit" id="login" class="submit_button" value="Kirjaudu">
                                <input type="submit" name="submit" id="make" class="submit_button" value="Tee uusi käyttäjä">
                                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                                <input type="hidden" name="current_url" id="current_url" value="">
                            </form>
                            <script>document.getElementById("current_url").value = window.location.pathname;</script>
                    </div>
                    <div id="error">
                        {% if error %}
                        <h2 style="color:red">{{error_msg}}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div id="search_block">
                {% block search %}{% endblock %}
            </div>

            <div id="user_action">
                <div id="new_block">
                    {% block new %}{% endblock %}
                </div>
                <div id="content_block">
                    {% block content %}{% endblock %}
                </div>
            </div>
    </body>
</html>