{% extends "publiclayout.html" %}

{% block title %}
<h1>Käyttäjä: {{session.username}}</h1>
<h2>Ystäväpyynnöt:</h2>
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
{%for user in requested%}
    <form method="POST">
        <div style="border:color=black">{{user[0]}} 
            <input type="submit" onclick="/friendlist/accept" value="Hyväksy">
            <input type="submit" onclick="/friendlist/reject" value="Hylkää">
        </div>
        <input type="hidden" name="username" value="{{user[0]}}">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
{%endfor%}
{% endblock %}