{% extends "publiclayout.html" %}

{% block title %}
<h1>Käyttäjä: {{session.username}}</h1>
{% if error %}
  <h2 style="color:red">{{error_msg}}</h2>
{% endif %}
{% endblock %}

{% block search %}{% endblock %}
{% block new %}{% endblock %}

{% block content %}
  <div class="personal_stuff">
    <h2>Vahvista käyttäjätiedot poistaaksesi käyttäjän</h2>
    <form action="/rmvuser/confirm" method="POST">
        <label for="name">Käyttäjänimi:</label><br>
        <input type="text" id="name" name="accname" value=""><br>
        <label for="pass">Salasana:</label><br>
        <input type="password" id="pass" name="passwrd" value=""><br><br>
        <input type="submit" value="Kirjaudu">
        <br>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
  </div>
{% endblock %}